@import '../colors.scss';
.topbar-section {
    width: 100%;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid $grey;
    @media screen and (max-width: 780px) {
        display: none;
    }
    .topbar-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width: 1200px) {
            padding: 20px;
        }
        @media screen and (max-width: 780px) {
            grid-template-columns: 1fr;
            grid-row-gap: 30px;
        }
        .contact {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            span {
                display: flex;
                color: $white;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.5px;
                font-family: 'Heebo';
                align-items: center;
                margin-right: 10px;
                @media screen and (max-width: 420px) {
                    padding-top: 20px;
                }
                i {
                    color: $brown;
                    font-size: 14px;
                    width: 1.25em;
                    margin-right: 5px;
                    @media screen and (max-width: 780px) {
                        margin-right: 0px;
                    }
                }
                &:nth-child(2) {
                    padding-left: 15px;
                    @media screen and (max-width: 780px) {
                        padding-left: 0px;
                    }
                }
            }
        }
        .working-hours {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            @media screen and (max-width: 780px) {
                justify-content: flex-start;
            }
            span {
                display: flex;
                color: $white;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.5px;
                font-family: 'Heebo';
                align-items: center;
                margin-left: 10px;
                @media screen and (max-width: 780px) {
                    margin-left: 0px;
                }
                i {
                    color: $brown;
                    font-size: 14px;
                    width: 1.25em;
                    margin-right: 5px;
                    @media screen and (max-width: 780px) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}