<section class="topbar-section">
    <div class="container">
        <div class="topbar-items">
            <div class="contact">
                <span>
                    <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                    Jl. Raya Ubud No.88, Bali 80571
                </span>
                <span>
                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                    (+62) 81 2345 1234
                </span>
            </div>
            <div class="working-hours">
                <span>
                    <i aria-hidden="true" class="fas fa-clock"></i>
                    Opening : Mon-Fri 08:00 - 17:00
                </span>
            </div>
        </div>
    </div>
</section>