$brown: #AD9271;
$white: #fff;
$grey:#FFFFFF14;
$black:#181818;
$black2: #000000;
$grey2:#666666;
$black3:#333;
$grey3:#F5F5F5;
$grey4:#FFFFFF8C;
$grey5: #656565;
$grey6: #f8f8f8;
$grey7: #e7e7e7;
$grey8: #A0AABA2B;
$grey9: #646A7A;
$grey10: rgba(238, 238, 238, 0.9);
$black4:#2c2c2c;
$blue: #3b5998;
$blue2: #1da1f2;
$red: #bd081c;
$grey11: #a4afb7;
$grey12: #E7EBF0;
$brown2: #B19777;