@import '../colors.scss';
.copyright-section {
    width: 100%;
    padding: 40px 0px 20px 0px;
    .copyright-items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .item {
            @media screen and (max-width: 600px) {
                text-align: center;
                justify-content: center;
                align-items: center;
            }
            h3 {
                font-size: 14px;
                font-weight: 300;
                color: $grey2;
                font-family: 'Heebo';
                @media screen and (max-width: 500px) {
                    font-size: 10px;
                }
            }
        }
    }
}